@media screen and (max-width: 1100px) {
    .filter {
        visibility: hidden;
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .search {
        visibility: hidden;
        display: none;
    }
}

body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background: #F2F2ED;

}

.clearfix {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

.conteiner {
    padding-top: 0.5vmax;
    position: relative;
    width: 100%;
    flex-direction: row;
    text-align: center;
}

.logo {
    width: 5vmax;
    height: 5vmax;
}

.username {
    color: #A2A398;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2vmax;
}

.add {
    font-size: 2vmax;
    text-decoration: none;
    font-weight: bold;
    color: #A2A398;
}

.search {
    padding: 1vmax;
    flex-wrap: wrap;
    border-radius: 1vmax;
    outline: none;
    font-size: 1vmax;
    border: solid 0.1vh #cccccc;
}

input {
    padding: 1vmax;
    margin: 0.5vmax;
    width: 100%;
    flex-wrap: wrap;
    border-radius: 1vmax;
    outline: none;
    font-size: 1vmax;
    border: solid 0.1vh #cccccc;
}

input::placeholder {
    font-size: 1vmax;
    color: #ccc;
}

.options {
    float: right;
    text-decoration: none;
    font-size: 1.2vh;
    font-weight: bold;
    font-family: Monaco;
}

.card {
    display: block;
    padding-bottom: 5vmax;
    background: #ffffff;
    text-align: left;
    margin: 0.8vmax auto;
    width: 35vmax;
    border: 0.1vmax solid #cccccc;
    border-radius: 0.8vmax;
}

.filter {
    position: fixed;
    float: left;
    background: #ffffff;
    text-align: center;
    margin: 1vh auto;
    width: 25vmax;
    height: 23vmax;
    border: 0.1vmax solid #cccccc;
    border-radius: 0.8vmax;
}

.date {
    font-size: 1vmax;
    color: #ccc;
}

.filter p {
    text-align: center;
    font-size: 1.5vmax;
    color: #A2A398;
    font-weight: bold;
}
.dropbtn {
    float: right;
    text-decoration: none;
    font-size: 1.2vh;
    font-weight: bold;
    padding: 1vmax;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #F2F2ED;
    border-radius: 0.8vmax;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 1vmax;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    font-family: Monaco;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {display:block;}

label {
    float: left;
    padding-bottom: 1vmax;
    position: relative;
    top: 0.8vmax;
    font-size: 1vmax;
    color: #A2A398;
}

.card-header {
    margin: 0 0 0.5vmax ;
    padding: 0 0 0.5vmax 0.5vmax;
}

.profile-img {
    position: relative;
    height: 3vmax;
    width: 3vmax;
    border-radius: 500%;
    top: 0.8vh;
}

.name {
    font-size: 0.8vmax;
    font-weight: bold;
}

.card-edit {
    font-size: 1vh;
    font-weight: bold;
    color: #A2A398;
    float: right;
}

.content img {
    width: 100%;
}

.description {
    font-size: 1vmax;
    text-align: left;
    margin: 0.5vmax;
    font-family: Monaco;
}

div {
    display: inline-block;
}

.row-local {
    display: flex;
    max-width: 100%;
}

.col-9 {
    width: 75%;
}

.col-6 {
    width: 50%;
}

.col-4 {
    width: calc((100% - 20px) / 3);
}

.col-3 {
    width: 25%;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    color: #222;
    text-decoration: none;
}

.padd {
    padding: 0.5vmax 0.7vw;
}

.likes {
    font-size: 1vmax;
    font-weight: bold;
    padding-left: 1vw;
}

.tegs {
    color: #A2A398;
    font-size: 1vmax;
    vertical-align: middle;
    padding-left: 1vw;
}

.tegs div {
    padding: 0.3vmax;
    width: 100%;
    border: 0.1vmax solid #cccccc;
    border-radius: 0.8vmax;
    background: #f2f1f1;
}

.tegs li {
    margin: 0.5vmax;
    list-style-type: none;
}

.tegs ul {
    display: inline-block;
    padding-left: 1vw;
}

.heart {
    color: #111;
    font-size: 4vmax;
    font-family: sans-serif;
    float: right;
    margin: 1vh 2vw;
}
.heart:hover{
opacity: 0.5;
}

hr {
    margin: 0.5vmax;
    border: none;
    color: #ccc;
    background-color: #ccc;
    height: 0.1vmax;
    width: 90%;
}

.data {
    font-size: 0.7vmax;
    color: #cccccc;
}

/*HEADER*/

.navigation {
    max-width: 100%;
    background: #ffffff;
}

.navigation ul li {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    padding-left: 1vmax;
}

.navigation .pad {
    padding: 2vh 1vw 0 0;
    text-align: right;
}

/*search*/
.load {
    padding: 2vh 0 2vw 0;
    align-content: center;
    text-align: center;
}

.loadMe {
    background: #cccccc;
    border-radius: 0.7vmax;
    height: 3vmax;
    width: 7vmax;
    text-decoration: none;
    text-align: center;
    font-size: 1vmax;
    border: solid 1vmax #cccccc;
    margin-top: 1vh;
}

/*footer*/
footer {
    padding: 0;
    text-align: center;
    font-size: 1vmax;
}

.footer {
    width: 100%;
    line-height: 0.1em;
}

.footer p {
    color: #cccccc;
}



.cancelbtn{
    padding: 1vh 1vw;
    background-color: #9e6464;
}
.signupbtn {
    padding: 1vh 1vw;
    background-color: #ccc;
}
/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
    border-radius: 1vmax;
    margin: 1vmax 0 1vmax;
}


/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #F2F2ED;
    padding-top: 5vmax;
}

/* Modal Content/Box */
.modal-content {
    text-align: center;
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 1vw;
    top: 1vh;
    font-size: 3vh;
    font-weight: bold;
    color: black;
}

.close:hover,
.close:focus {
    color: #9e6464;
    cursor: pointer;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}